body, html {
  font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.6em;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*Menu*/
header {
    padding: 40px 0;
    margin-bottom: 20px;
}
.logo {
    float: left;
}

.menu {
    float: right;
    font-weight: bold;
    margin-top: -5px;
}

nav ul li {
  display: inline-block;
  padding: 5px 30px;
    border: 2px solid #0a037c;
    border-radius: 15px;
}

nav ul li a {
  padding: 0 8px;
  text-decoration: none;
  display: block;
    color: #0a037c;
}

li:hover {
  background-color: #0a037c;
}

li:hover a {
  color: #fff;
}

/*Baner */

.banner {
    background-image:url(../images/banner_main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

/*Company*/
.company {
    margin-top: 50px;
    margin-bottom: 40px;
    display: table;
}

.title {
    text-transform: uppercase;
    background-image: url(../images/pxl.png);
    background-repeat: no-repeat;
    margin: 30px auto;
    padding: 10px;
}

.title1 {
    background-position: 30% 0px;
    padding-left: 31%;
}

.title2 {
    background-position: 36% 0px;
    padding-left: 37%;
}

.title3 {
    background-position: 43.5% 0px;
    padding-left: 44%;
}


.title4 {
    background-position: 46.5% 0px;
    padding-left: 47%;
}

.title5 {
    background-position: 43% 0px;
    padding-left: 44%;
}

.title6 {
    background-position: 43% 0px;
    padding-left: 44%;
    color: #fff;
}

.company_desc {
    float: left;
    width: 33%;
    padding: 10px;  
}

.company_desc h2 {
    text-align: center;
    padding-top: 10px;
}

.company_desc p {
    padding: 20px;
    text-align: justify;
}

.line {
    height: 3px;
    margin: 0 auto;
    background-color: #690080;
    margin-bottom: 10px;
}

.line1, .line3 {
    width: 70%;
}

.line2 {
    width: 90%;
}

.line3 {
    width: 65%;
}

/*Witches */

.witches {
    background-image: url(../images/banner_bckg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    padding-top: 20px;
}

.witches_desc {
    float: left;
    width: 33%;
    padding: 20px;
    text-align: justify;
}

.avatar {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

.witches_desc h2,
.witches_desc h3 {
    padding: 20px;
    text-align: center;
}


/*Offer */



.offer_box {
    float: left;
    width: 33%;
}

.pricing {
	text-align: center;
	border: 2px solid #f0f0f0;
	color: #777;
	padding-left: 0;
    margin: 20px 10px 20px;
}
.pricing img {
	display: block;
	margin: auto;
	width: 32px;
}
.pricing li:first-child,
.pricing li:last-child {
	padding: 20px 13px;
}
.pricing li {
	list-style: none;
	padding: 13px;
}
.pricing li + li {
	border-top: 1px solid #f0f0f0;
}
.pricing big {
	font-size: 32px;
}
.pricing h3 {
	margin-bottom: 0;
  font-size: 36px;
}
.pricing span {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}

.pricing button {
	width: auto;
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	border-radius: 50px;
	color: #fff;
	padding: 9px 24px;
	background: #aaa;
	opacity: 1;
	transition: opacity .2s ease;
  border: none;
  outline: none;
}
.pricing button:hover {
	opacity: .9;
}
.pricing button:active {
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* pricing color */
.p-pink big,
.p-pink h3 {
	color: #f0057f;
}
.p-pink button {
	background: #f0057f;
}
.p-orange big,
.p-orange h3 {
	color: #ff8500;
}
.p-orange button {
	background: #ff8500;
}
.p-blue big,
.p-blue h3 {
	color: #07efc8;
}
.p-blue button {
	background: #07efc8;
}

.prices_info {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

/*Opinie*/

.opinions {
    background-image: url(../images/bckg_opinion.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px 30px;
}

.opinion {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    width: 50%;
}

.opinion h3 {
    padding: 15px;
}

/*Portfolio */

.portfolio {
    display: table;
    margin: 20px auto 50px;
}

.project {
    width: 30%;
    float: left;
    margin: 20px;
}

/*Contact */

.contact {
    background-image: url(../images/bckg_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px 30px;
}

.contact_info {
    color: #fff;
    text-align: center;
}

.contact_info span {
    display: block;
}

.mail {
    padding: 20px;
    font-weight: 800;
    padding: 20px;
    font-size: 1.2rem;
}