body, html {
  font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.6em;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*Menu*/
header {
    padding: 40px 0;
    margin-bottom: 20px;
}
.logo {
    float: left;
}

.menu {
    float: right;
    font-weight: bold;
    margin-top: -5px;
}

nav ul li {
  display: inline-block;
  padding: 5px 30px;
    border: 2px solid #0a037c;
    border-radius: 15px;
}

nav ul li a {
  padding: 0 8px;
  text-decoration: none;
  display: block;
    color: #0a037c;
}

li:hover {
  background-color: #0a037c;
}

li:hover a {
  color: #fff;
}

/*Baner */

.banner {
    background-image:url(../images/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

/*Company*/
.company {
    margin-top: 50px;
    margin-bottom: 40px;
    display: table;
}

.title {
    text-transform: uppercase;
    margin-bottom: 30px;
    background-position: 30% 0px;
    padding-left: 31%;
    background-image: url(../images/pxl.png);
    background-repeat: no-repeat;
    padding-top: 20px;
}

.company_desc {
    float: left;
    width: 33%;
    padding: 10px;  
}

.company_desc h2 {
    text-align: center;
    padding-top: 10px;
}

.company_desc p {
    padding: 20px;
    text-align: justify;
}

.line {
    height: 3px;
    margin: 0 auto;
    background-color: #690080;
    margin-bottom: 10px;
}

.line1, .line3 {
    width: 70%;
}

.line2 {
    width: 90%;
}

.line3 {
    width: 65%;
}

/*Witches */

.witches {
    background-image: url(../images/banner_bckg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    padding-top: 20px;
}

.witches_desc {
    float: left;
    width: 33%;
    padding: 20px;
    text-align: justify;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #fff;
}

.witches_desc h2,
.witches_desc h3 {
    padding: 20px;
    text-align: center;
}

.title2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    background-position: 36% 0px;
    padding-left: 37%;
    background-image: url(../images/pxl.png);
    background-repeat: no-repeat;
    padding-top: 20px;
}