body, html {
  font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    color: #1d1d1d;
    font-size: 14px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.sect {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

/*Menu*/
header {
    padding: 40px 0;
    margin-bottom: 20px;
}
.logo {
    float: left;
}

.logo img {
    width: 50%;
}

.menu {
    float: right;
    font-weight: bold;
    margin-top: -5px;
}

.menu ul li {
  display: inline-block;
  padding: 5px 20px;
    border: 2px solid #0a037c;
    border-radius: 15px;
}

.menu ul li a {
  padding: 0 8px;
  text-decoration: none;
  display: block;
    color: #0a037c;
}

.menu ul li:hover {
  background-color: #0a037c;
}

.menu ul li:hover a {
  color: #fff;
}



/*Baner */

.banner {
    background-image:url(../images/tlo_baner_001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    position: relative;
}

.banner_text {
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 830px;
     height: 200px;
}

.banner_text span {
    text-align: center;
    padding: 5px;
}

#tutaj {
    color: #fff;
    font-size: 1.3rem;
    display: block;
}

#projekty {
    display: block;
    font-size: 3.2rem;
    color: #fff;
    font-weight: 900;
    
}
#all {
    display: block;
    font-size: 1.5rem;
}

#strony {
    color: #f0057f;
    
}

#grafika {
    color: #ff8500;
    
}

#copy {
    color: #07efc8;
    
}

/*Company*/
.company {
/*
    margin-top: 50px;
    margin-bottom: 40px;
*/
    display: table;
}

.title {
    text-transform: uppercase;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
}

.title h1::before {
    content: url("../images/pxl.png");
    display: inline-block;
    vertical-align: middle;
}

.title6 {
    color: #fff;
    padding-top: 40px;
}

.company_desc {
    float: left;
    width: 33%;
    padding: 0 10px 10px;  
}

.company_desc h2 {
    text-align: center;
}

.company_desc p {
    padding: 20px;
    text-align: justify;
}

/*Witches */

.witches {
    background-image: url(../images/banner_bckg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    padding-bottom: 30px;
}

.witches_box {
    display: flex;
    justify-content: space-between;
}

.witches_desc {
    padding: 10px;
    text-align: justify;
}

.avatar {
    width: 150px;
    height: 140px;
    margin: 0 auto;
}

.witches_desc h3 {
    margin-bottom: 20px;
    text-align: center;
}

.witches_desc h2 {
    text-align: center;
    padding: 35px 0 0px;
    margin-top: 10px;
}

.witches_desc p {
    padding: 20px;
}


/*Offer */

.offer {
    display: table;
}

.off {
    display: flex;
    justify-content: space-around;
}

.offer_box {
    margin-bottom: 20px;
    width: 32%;
}

.pricing {
	text-align: center;
	border: 2px solid #f0f0f0;
	color: #777;
	padding-left: 0;
    margin: 0px 10px 20px;
}
.pricing img {
	display: block;
	margin: auto;
	width: 32px;
}
.pricing li:first-child,
.pricing li:last-child {
	padding: 20px 13px;
}
.pricing li {
	list-style: none;
	padding: 13px;
}
.pricing li + li {
	border-top: 1px solid #f0f0f0;
}
.pricing big {
	font-size: 32px;
}
.pricing h3 {
	margin-bottom: 0;
  font-size: 36px;
}
.pricing span {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}

.pricing button {
	width: auto;
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	border-radius: 50px;
	color: #fff;
	padding: 9px 24px;
	background: #aaa;
	opacity: 1;
	transition: opacity .2s ease;
  border: none;
  outline: none;
}
.pricing button:hover {
	opacity: .9;
}
.pricing button:active {
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}
/* pricing color */
.p-pink big,
.p-pink h3 {
	color: #f0057f;
}
.p-pink button {
	background: #f0057f;
}
.p-orange big,
.p-orange h3 {
	color: #ff8500;
}
.p-orange button {
	background: #ff8500;
}
.p-blue big,
.p-blue h3 {
	color: #07efc8;
}
.p-blue button {
	background: #07efc8;
}

.prices_info {
    text-align: center;
    padding: 0 20px 20px;
/*    margin: 20px auto;*/
    color: #777;
}

/*Opinie*/

.opinions {
    background-image: url(../images/bckg_opinion.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 20px;
    display: table;
}

.opinion {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.opinion img {
    width: 150px;
    height: auto;
}

.opinion h3 {
    padding: 15px;
}

.opinion span {
    width: 50%;
}

/*Portfolio */

.portfolio {
    display: table;
    margin: 20px auto 50px;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
/*
    width: 280px;
    height: auto;
*/
    margin: 30px;
    position: relative;
}

.project img {
    width: 280px;
    height: auto;
    display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #f0057f;
}

.project:hover .overlay{
    opacity: 0.9;
}

.project_text {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/*Contact */

.contact {
    background-image: url(../images/bckg_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
/*    display: table;*/
}


.contact_info {
    color: #fff;
    text-align: center;
}

.contact_info span {
    display: block;
}

.mail {
    padding: 20px;
    font-weight: 800;
    padding: 20px;
    font-size: 1.2rem;
}

/*Media*/

@media (max-width: 1024px) and (min-width: 769px) {
  
    .menu ul li {
      padding: 5px 10px;
    }

    .menu ul li a {
        padding: 0 3px;
    }

    .logo img {
        width: 70%;
    }

    .menu {
        margin-top: -4px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.3em;
    }
}

@media (max-width: 768px) and (min-width: 426px) {
    .logo, .menu {
        float: none;
        text-align: center;
    }
    
    .menu ul li {
      padding: 5px 5px;
        margin-top: 10px;
    }
    
    header {
        padding: 20px;
        margin-bottom: 0;
    }
    
    .banner {
        height: 400px;
    }
    
    .banner_text {
     width: 530px;
     height: 200px;
    }
    
    #tutaj {
    font-size: 1.2rem;
    }

    #projekty {
        font-size: 2.5rem;
    }
    
    #all {
        font-size: 1.3rem;
    }
    
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
    
    .company_desc {
        width: 100%;
    }
    
    .witches_box, .off {
        display: block;
    }
    
    .offer_box {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 425px) {
    .banner_text {
     width: 340px;
     height: 180px;
    }
    
    .banner {
        height: 300px;
    }
    
    #tutaj {
    font-size: 1rem;
    }

    #projekty {
        font-size: 1.8rem;
    }
    
    #all {
        font-size: 1rem;
    }
    
    .menu {
        display: none;
    }
    
    .logo img {
        width: 100%;
    }
    
        .company_desc {
        width: 100%;
    }
    
    .witches_box, .off {
        display: block;
    }
    
    .offer_box {
        width: 80%;
        margin: 0 auto;
    }
}