.container {
    width: 500px;
    margin: 0 auto;
}


@keyframes rotate {
  0% {
    transform: rotate(45deg);
      opacity: 0;
  }
  15% {
    transform: scale(0.8);
  }  
  30% {
    transform: rotate(100deg);
  }
  45% {
    transform: scale(1.2);
  }    
  60% {
    transform: rotate(180deg);
  }
}


@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-it {
    100% {
       fill: #FF9FF6;
    }
}

.pixel, circle {
    transform-origin: 50% 50%;
}

.purple_pixel {
    animation: rotate 2s ease-out backwards;
    animation-delay: 5.2s;
}

.orange_pixel {
    animation: rotate 2s ease-out backwards;
    animation-delay: 5.5s;
}

.blue_pixel {
    animation: rotate 2s ease-out backwards;
    animation-delay: 6s;
}

.smoke {
    stroke: #FF9FF6;
    stroke-width: 2;
    stroke-dasharray: 885;
    stroke-dashoffset: 885;
    animation: offset 5s linear forwards, fill-it .8s 5s forwards;
}